{% extends "base.html" %}
{% block content %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
          <!-- select -->
          <div class="form-group">
            <label>数据集选择</label>
            <select class="custom-select" id="select_dataset">
            </select>

          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group">
              <label>加载数据集</label>
              <button type="button" class="btn btn-block btn-default" id="load_dataset">加载</button>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group">
              <label>导入数据集</label>
              <button type="button" class="btn btn-block btn-default">导入</button>
          </div>
        </div>

        <div class="col-md-6">
            <!-- Horizontal grouping -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">降维工具</h3>
              </div>
              <div class="card-body table-responsive pad">
                <table class="table table-bordered">
                  <tr>
                    <th>无监督降维</th>
                  </tr>
                  <!-- Default -->
                  <tr>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-default">主成分分析(PCA)</button>
                        <button type="button" class="btn btn-default">SVD降维</button>
                        <button type="button" class="btn btn-default">局部线性嵌入(LLE)</button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- /.card -->
        </div>

        <div class="col-12" id="show_dataset" style="display: none">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">数据集</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body" id="table_parent">

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>


<script>
    $(function () {
        // 设置表格显示样式


        //请求:获取所有数据集 {"id": [display_name, file_name_tid]}

        let upload_files = [];

        $.ajax({
            url: "api/list_file_name",
            type: "POST",
            contentType: 'application/json; charset=UTF-8',
            async : false,
            success: function (data) {

                if(data['status'] == "success"){
                    upload_files = data['upload_files'];

                    for (let key in upload_files) {

                        let display_file_name = upload_files[key][0];
                        $("#select_dataset").append("<option value="+ upload_files[key][1] +">" + display_file_name +"</option>");
                    }

                }else{
                    alert(data['message']);
                }
            }
        });
    });

  $("#load_dataset").click(function () {

      $("#table_parent").append("<table id=\"example1\" class=\"table table-bordered table-striped\">" +
          "<thead id=\"table_head\"><tr style=\"display: none\"><th>Rendering engine</th></tr></thead>" + "<tbody id=\"table_body\"></tbody>" +
          "<tfoot id=\"table_foot\"></foot>"
      );

      // 请求：获取所选数据集的具体数据，建立表格
      $.ajax({
          url: "api/create_data_table",
          type: "POST",
          contentType: 'application/json; charset=UTF-8',
          async : false,
          data: JSON.stringify({"file_name_tid": $("#select_dataset").val()}),

          success: function (data) {
              if(data['status'] == "success"){
                  //添加表头
                  let txt_head = "";
                  for (let col_index in data['dataset']["1"]) {
                      console.log(data['dataset']["1"][col_index]);
                      txt_head = txt_head + "<th>"+data['dataset']["1"][col_index] +"</th>"
                  }

                  $("#table_head").append("<tr>"+txt_head+"</tr>");

                  for (let row_index in data['dataset']) {
                      let txt_body = "" ;
                      for (let col_index in data['dataset'][row_index]){
                          if(row_index!=1){
                              txt_body = txt_body + "<td>" + data['dataset'][row_index][col_index]+"</td>"
                          }
                      }

                      if(row_index!=1){
                          $("#table_body").append("<tr>"+ txt_body + "</tr>")
                      }

                  }
              }else{
                  alert(data['message'])

              }

          }
      });


      $("#example1").DataTable({
          "responsive": true,
          "autoWidth": false,
      });

      // 显示用来展示数据集的表格
      $("#show_dataset").css("display", "block");
  })



</script>

{% endblock %}
